@import url('resets.css');

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter/Inter.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans/NotoSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sanes';
    font-style: italic;
    src: url('../fonts/NotoSans/NotoSansItalic.ttf') format('truetype');
}

html {
    font-family: Inter, 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #000;
    color: #1a1a1a;
    font-size: 12.5px;
    display: flex;
}

a {
    text-decoration: none;
    color: darkslateblue;
}

    a:hover {
        text-decoration: underline;
    }

.icon {
    height: 1.1em;
    width: 1.1em;
    align-self: center;
}

#resume {
    height: 11in;
    width: 8.5in;
    margin: auto;
    position: relative;
    margin: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

    #resume > header {
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        padding: 1.25rem 1.5rem 1rem;
        position: relative;
        flex-grow: 0;
        color: #fff;
    }

        #resume > header > .subtitle {
            font-size: 1rem;
            margin-bottom: 0;
        }

    #resume > section {
        margin-top: 0;
        display: flex;
        flex-grow: 1;
    }

#woman_working {
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    margin-bottom: -34.5px;
}

#summary {
    padding: 1rem 1.5rem 0;
    border-bottom: 1px solid #e1e1e1;
}

    #summary > .section-links {
        display: flex;
        gap: 0.67rem;
        overflow-x: auto;
    }

        #summary > .section-links label {
            display: flex;
        }

    #summary .info-group {
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }

    #content {
        flex-grow: 1;
    }

    #content > section {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #e1e1e1;
    }

        #content > section:last-child {
            border-bottom: 0;
        }

    #sidebar {
        border-right: 1px solid #e1e1e1;
    }

.section-heading {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    font-weight: 600;
    padding-bottom: 0.33rem;
    margin-bottom: 0;
}

.item {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 0.75rem;
    margin-top: 0.5rem;
}

    .item img {
        height: 32px;
        width: 32px;
    }

    .item p {
        margin-top: 0.25rem;
    }

.item-heading,
.item-subheading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.1rem;
}

    .item-heading .item-title {
        font-weight: 500;
        margin: 0;
    }

    .item-heading .item-location {
        text-align: right;
        white-space: nowrap;
        margin: 0;
        color: #8a8a8a;
        padding-left: 2ch;
    }

        .item-subheading .job-title {
            font-weight: 750;
        }

        .item-subheading .job-dates {
            color: #8a8a8a;
        }

.item ul {
    padding-left: 1rem;
    margin-bottom: 0.75em;
}

ul.skills {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
    justify-content: center;
}

    ul.skills li:not(:last-child)::after {
        content: '\00B7';
        display: inline-flex;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
    
@media screen and (max-width: 8.5in) {
    #resume {
        width: 100vw;
        overflow-x: hidden;
        height: unset;
    }

    #resume > header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #summary {
        padding: 1rem 1rem 0;
    }

    #resume > section {
        flex-direction: column;
    }

    #content > section {
        padding: 1rem;
    }

}
