@page "/"

<PageTitle>Index</PageTitle>

<aside id="sidenav">
    <header>
        <Avatar />
    </header>
    <nav>
        <h3>Erin McLaughlin</h3>
        <h5>Software Engineer at Lighthouse Instruments</h5>
    </nav>
</aside>

<main>
    <p>this is where body content would go</p>
</main>