$radius: 1000px;

.avatar {
    height: 100%;
    width: fit-content;
    border-radius: $radius;

    > img {
        height: 100%;
        width: 100%;
        border-radius: $radius;
        background-color: white;
        box-shadow: 0 0 20px 3px lightgray;
    }
}